@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.intro{
  padding: 15px;
}

.heading{
  font-size: xx-large;
}

.email {
  padding-left: 5px;
  color:cadetblue
}

.name{
  padding-left: 5px;
  color:darkgrey
}

.linksdiv{
  width:10%;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color:  white;
}

.linklistitem{
  color: aquamarine;
}

.item{
  padding: 10px;
  width:50%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: bisque;
  color: bisque;  
  text-align: left;
}

.documentItemLine{
  padding: 10px;
}

.documentItemName{
  color: bisque;  
  text-align: left;
}

.documentItemData{
  color: white;  
  text-align: left;
}

.column {
  float: left;
  width: 20%;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
